#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

p.header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

p.sub-header {
  margin-bottom: 1rem;
  font-weight: 600;
}

#user-details > p,
#employment-section > p,
#preference-section > p {
  margin-bottom: 0.25rem;
}

.error-message {
  color: red;
}